{% extends "layout.html" %}
{% block title %}
    <title> {{username}}/Upload </title>
{% endblock title %}

{% block content %}
    <div class='container'>
        <h1 align = 'center' style = 'margin-left:20%'> Upload Image </h1>
			<div class='formform'>
				<form action= "{{url_for('upload', username = username)}}"  method = 'POST' enctype='multipart/form-data' id = 'form1'>
                      <label>Username : </label>
                      <input type='string' name='username' value='{{username if username != None}}' placeholder='Enter Username' required />
                      <br>
                      <label>Password : </label>
                      <input type='password' name='password' placeholder='Enter Password' style='margin-left:0.650%' required />
                      <br>
                      Select a picture to upload:
                      <input type='file' name='file' accept = 'image/*'>
                </form>
                <br>
				<br>
                <button id = 'submit' type = 'submit' form = 'form1' value = 'submit' style='margin-left:12.5%'>Upload</button>
				<button id='reset' onclick="window.location.href='{{url_for('upload', username=username), upload}}'">Reset</button>
				<br>
				<p><a href="{{url_for('home', username=username)}}"> Go back to my profile</a></p>
			</div>

            <div id='IOD' align='left'>
                <h2> Image<br>Object<br>Detection </h2>
            </div>
		</div>

{% endblock content %}
